In [ ]:
import numpy as np
iris = np.genfromtxt('iris.csv', delimiter = ',', skip_header = 1)
print(iris.shape)

In [ ]:
print(iris[0:10])

In [ ]:
features = np.genfromtxt('iris.csv', delimiter = ',', skip_header = 1, usecols = (0,1,2,3), dtype = 'float')
# print(features)
print(features.shape)

In [ ]:
labels = np.genfromtxt('iris.csv', delimiter = ',', skip_header = 1, usecols = (4), dtype = 'str')
# print(labels)
print(labels.shape)
print(labels[0:10])

In [ ]:
categories = np.unique(labels)
print(categories.shape)
print(categories)

In [ ]:
for i in range(len(categories)):
  labels = np.char.replace(labels, categories[i], str(i)) #For each element in data, replace pld by new. (data, old, new)
print(labels)